<div class="register-news">
  <app-container>
    <div class="register-news-wrapper">
      <h2>Editar notícia</h2>
      <!-- <p>Após o cadastro, a notícia estará disponível para outras pessoas verem.</p> -->

      <form (ngSubmit)="onSubmit()" [formGroup]="form">
        <div class="form-input-single">
          <label for="title">Título:</label>
          <input
            type="text"
            name="title"
            id="title"
            placeholder="Defina o título da notícia"
            formControlName="title"
          >
          <span
            *ngIf="hasError('title', 'required')"

          >
            O Título deve ser preenchido.
          </span>
          <span
            *ngIf="hasError('title', 'pattern')"

          >
            O Título não pode conter apenas espaços.
          </span>
          <span
            *ngIf="hasError('title', 'minlength')"

          >
            O Título deve conter pelo menos 5 caracteres.
          </span>
        </div>

        <div class="form-input-single">
          <label for="description">Descrição:</label>
          <textarea
            type="text"
            name="description"
            id="description"
            placeholder="Defina o texto da notícia"
            formControlName="description"
          >
          </textarea>
          <span
            *ngIf="hasError('description', 'required')"

          >
            A Notícia deve ser preenchida.
          </span>
          <span
            *ngIf="hasError('description', 'pattern')"

          >
            A Notícia não pode conter apenas espaços ou quebra de linha.
          </span>
          <span
            *ngIf="hasError('description', 'minlength')"

          >
            A Notícia deve conter pelo menos 100 caracteres.
          </span>
          <small
            *ngIf="hasError('description', 'minlength')" class="desctiption-counter"
          >
            Caracteres: {{this.form.get('description')?.value.length}}
          </small>
        </div>

        <div class="form-input-single">
          <label for="category">Categoria:</label>
          <div>
            <input
              type="text"
              name="category"
              id="category"
              placeholder="Digite a categoria ou escolha uma das existentes"
              formControlName="category"
            >
            <button
              (click)="showCategoriesList = !showCategoriesList; $event.stopPropagation()"
              type="button"
              class="icon"
            >
              <fa-icon [icon]="faChevronDown"></fa-icon>
            </button>

            <ul [ngClass]="showCategoriesList ? 'active' : ''" #categoriesListRef>
              <li
              *ngFor="let item of categoriesList"
              (click)="onClick(item, $event)"
            >
              {{ item.category }}
            </li>
            </ul>
          </div>
          <span
            *ngIf="hasError('category', 'required')"
            class="form-input-single-error"
          >
            A Categoria deve ser escolhida ou criada.
          </span>
          <span
          *ngIf="hasError('category', 'pattern')"
          >
          A Categoria não pode conter apenas espaços.
          </span>
          <span
            *ngIf="hasError('category', 'minlength')"

          >
          A Categoria deve conter pelo menos 5 caracteres.
          </span>
        </div>

        <div class="form-input-single">
          <label for="author">Autor:</label>
          <input
            type="text"
            name="author"
            id="author"
            placeholder="Defina o autor da notícia"
            formControlName="author"
          >
          <span
            *ngIf="hasError('author', 'required')"

          >
            O Autor deve ser preenchido.
          </span>
          <span
          *ngIf="hasError('author', 'pattern')"
          >
          O Autor não pode conter apenas espaços.
          </span>
          <span
            *ngIf="hasError('author', 'minlength')"

          >
          O Autor deve conter pelo menos 5 caracteres.
          </span>
        </div>

        <button type="submit">Editar</button>
      </form>
    </div>
  </app-container>
</div>
