<div class="header-nav-socials">
  <nav class="header-nav-socials-content">
    <ul>
      <li>
        <a
          href="https://github.com/LucasBargas/newslbs_angular/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <fa-icon [icon]="faSquareGithub"></fa-icon>
        </a>
      </li>
      <li>
        <fa-icon [icon]="faSquareInstagram"></fa-icon>
      </li>
      <li>
        <fa-icon [icon]="faSquareFacebook"></fa-icon>
      </li>
    </ul>
  </nav>
</div>
