@use '../../styles/variables' as *;

footer {
  padding: 2rem 0;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: .5rem;

    a {
      color: $primary-color;
      font-weight: 700;
    }
  }
}
