<section class="favorites-news">
  <div *ngIf="isLoading">
    <app-container>
      <app-loading></app-loading>
    </app-container>
  </div>

  <app-container>
    <header class="favorites-news-header">
      <div>
        <h2>Minhas notícias favoritas</h2>
        <p>Veja as noticias que você favoritou.</p>
      </div>

      <a routerLink="/cadastrar-noticias" >Cadastrar notícia</a>
    </header>

    <div class="favorites-news-wrapper">
      <div *ngFor="let item of news?.slice(0, 3)" class="favorites-news-wrapper-single">
        <div>
          <a class="news-title" routerLink="/noticia/{{item.id}}">{{item.title}}</a>
          <span>
            <strong>Autor:</strong>
            <a
            routerLink="/search"
            [queryParams]="{ q: item.author}"
          >
            {{item.author}}
          </a>
          </span>
          <span>
            <strong>Categoria:</strong>
            <a
            routerLink="/search"
            [queryParams]="{ q: item.category}"
          >
            {{item.category}}
          </a>
          </span>
          <span><strong>Postado em:</strong> {{handleWithDateAndHour(item.createdAt)}}</span>
        </div>

        <div>
          <p>Botão</p>

          <ul>Ações</ul>
        </div>
      </div>
    </div>
  </app-container>
</section>
