<section class="favorites-news">
  <div *ngIf="isLoading">
    <app-container>
      <app-loading></app-loading>
    </app-container>
  </div>

  <app-container>
    <header class="favorites-news-header">
      <div>
        <h2>Minhas notícias favoritas</h2>
        <p>Veja as noticias que você favoritou.</p>
      </div>

      <a routerLink="/cadastrar-noticias" >Cadastrar notícia</a>
    </header>

    <div class="favorites-news-wrapper">
      <div *ngFor="let item of news" class="favorites-news-wrapper-single">
        <div>
          <a
            class="news-title"
            routerLink="/noticia/{{item.id}}">{{item.title}}
          </a>
          <span>
            <strong>Autor:</strong>
            <a
              routerLink="/search"
              [queryParams]="{ q: item.author}"
            >
             {{item.author}}
          </a>
          </span>
          <span>
            <strong>Categoria:</strong>
            <a
              routerLink="/search"
              [queryParams]="{ q: item.category}"
            >
              {{item.category}}
            </a>
          </span>
          <span>
            <strong>Postado em:</strong>
            {{handleWithDateAndHour(item.createdAt)}}
          </span>
        </div>

        <div>
          <div>
            <button (click)="onFavoriteButtonClick(item)">
              <fa-icon *ngIf="item.favorite" [icon]="favorited"></fa-icon>
              <fa-icon *ngIf="!item.favorite" [icon]="notFavorited"></fa-icon>
            </button>
          </div>

          <ul>
            <li>
              <a routerLink="/noticia/{{item.id}}">
                <fa-icon [icon]="faEye"></fa-icon>
              </a>
            </li>

            <li>
              <a routerLink="/editar-noticia/noticia/{{item.id}}">
                <fa-icon [icon]="faPenToSquare"></fa-icon>
              </a>
            </li>

            <li>
              <button (click)="onDeleteClick(item)" title="Deletar notícia">
                <fa-icon [icon]="faTrash"></fa-icon>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </app-container>
</section>
