@use '../../styles/variables' as *;

.favorites-news {
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    @media(max-width: 480px) {
      gap: .75rem;
    }

    p {
      margin-top: .425rem;
    }

    a {
      padding: .75rem 1rem;
      border-radius: 4px;
      color: $light-color;
      background: $primary-color;
      opacity: .9;
      transition: .3s;

      &:hover {
        opacity: 1;
      }
    }
  }

  .load-more {
    display: flex;
    justify-content: center;
    padding-top: 1rem;

    button {
      padding: .75rem 1rem;
      border-radius: 4px;
      color: $light-color;
      background: $primary-color;
      opacity: .9;
      transition: .3s;

      &:hover {
        opacity: 1;
      }
    }
  }

  &-wrapper {
    padding-top: 1.75rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    a {
      color: $primary-color;
    }

    &-single {
      display: flex;
      justify-content: space-between;
      padding-bottom: 1.25rem;

      @media(max-width: 768px) {
        gap: 1rem;
        flex-direction: column;
      }

      &:not(:last-of-type) {
        border-bottom: 1px solid $primary-color;
      }

      .news-title {
        display: block;
        font-weight: 700;
        font-size: 1.25rem;
        width: 100%;
        max-width: 600px;

        @media (max-width: 834px) {
          max-width: none;
        }
      }

      span {
        display: block;
        margin-top: .25rem;
        font-size: .875rem;
      }

      div:nth-of-type(2) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media(max-width: 768px) {
          flex-direction: row-reverse;
          align-items: center;
        }

        fa-icon {
          font-size: 1.25rem;
          color: $primary-color;
        }

        div {
          display: flex;
          justify-content: flex-end;
        }

        ul {
          display: flex;
          align-items: center;
          gap: .25rem;

          a, button {
            background: transparent;
            padding: .25rem;
          }
        }
      }
    }
  }
}
