@use 'variables' as *;

.form-categories {
  &-content {
    >li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      line-height: 2.25rem;
      padding-left: 1rem;
      opacity: .8;
      transition: .3s;

      &.active {
        opacity: 1;
        background: $light-gray;
      }

      &:hover {
        opacity: 1;
        background: $light-gray;
      }
    }

    &-actions {
      display: flex;

      li {
        button {
          background: transparent;
          width: 2.1875rem;
          height: 2.1875rem;
        }
      }
    }

  }
}