<nav class="form-categories" #formCategories>
  <ul class="form-categories-content">
    <li
      *ngFor="let item of categoriesList()"
      (click)="onClick(item.name)"
      [class.active]="isEquals(item.name)"
    >
      <span>
        {{ item.name }}
      </span>

      <ul class="form-categories-content-actions">
        <li>
          <button
            type="button"
            (click)="onDelete(item); $event.stopPropagation()"
            title="Deletar"
          >
            <fa-icon [icon]="faTrash"></fa-icon>
          </button>
        </li>
        <li>
          <button
            type="button"
            (click)="onEdit(item); $event.stopPropagation()"
            title="Editar"
          >
            <fa-icon [icon]="faPen"></fa-icon>
          </button>
        </li>
      </ul>
    </li>
  </ul>
</nav>
