<div
  class="news-card"
  *ngFor="let item of news"
>
  <h3>{{item.title}}</h3>
  <p>{{item.description}}</p>

  <div class="news-card-details">
    <span>
      <strong>Categoria:</strong>
      <a
      routerLink="/search"
      [queryParams]="{ q: item.category}"
    >
      {{item.category}}
    </a>
    </span>
    <span>
      <strong>Autoria:</strong>
      <a
        routerLink="/search"
        [queryParams]="{ q: item.author}"
      >
        {{item.author}}
      </a>
    </span>
  </div>

  <div class="news-card-action">
    <div>
      <a routerLink="/noticia/{{item.id}}">
        <fa-icon [icon]="faPenToSquare"></fa-icon>
      </a>

      <a routerLink="/noticia/{{item.id}}">
        <fa-icon [icon]="faEye"></fa-icon>
      </a>

      <button title="Deletar notícia" (click)="onDeleteClick(item.id)">
        <fa-icon [icon]="faTrash"></fa-icon>
      </button>
    </div>

    <div class="news-card-action-favorite">
      <button (click)="onFavoriteButtonClick(item)">
        <fa-icon *ngIf="item.favorite" [icon]="favorited"></fa-icon>
        <fa-icon *ngIf="!item.favorite" [icon]="notFavorited"></fa-icon>
      </button>
    </div>
  </div>
</div>
