@use '../../styles/variables' as *;

.news-card {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1.25rem 1rem;
  height: 100%;
  min-height: 400px;
  border-radius: 6px;
  background: $light-color;
  box-shadow: $shadow;
  position: relative;

  p {
    margin-top: .5rem;
    flex: 1 1 0%;
  }

  &-details {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: .75rem;
    font-size: .875rem;
    gap: .25rem;

    a {
      color: $primary-color
    }
  }

  &-action {
    display: grid;
    grid-template-columns: 21fr 1fr;
    padding-top: 1.5rem;
    gap: .25rem;

    div:nth-of-type(1) {
      display: flex;
      justify-content: center;
      z-index: 1;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: .5rem;

    }

    &-favorite {
      z-index: 2;
      position: absolute;
      right: 0;
      bottom: .5rem;
      background: black;

      button {
        color: red;
      }
    }

    a, button {
      background: none;
      display: inline-block;
      text-align: center;
      padding: .5rem;

      fa-icon {
        font-size: 1.25rem;
        color: $primary-color;
      }
    }
  }
}
