<li>
  <form (ngSubmit)="onSubmit()">
    <input
      #input
      type="text"
      placeholder="Pesquise por uma notícia"
      [(ngModel)]="value"
      name="search"
      (input)="value.trim() && error = false"
      (blur)="error = false"
    >

    <button
      type="button"
      *ngIf="value.trim() && value.length > 2"
      (click)="onClickClearButton()"
      class="search-clear"
    >
      <fa-icon [icon]="faXmark"></fa-icon>
    </button>

    <button type="button" (click)="inputRef.nativeElement.focus()">
      <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
    </button>

    <app-error-message
      *ngIf="error"
      message="Você precisa procurar por uma notícia."
    >
    </app-error-message>

    <app-header-nav-search-preview
      *ngIf="value.trim() && value.length > 2"
      class="search-preview"
      [value]="value"
    >
    </app-header-nav-search-preview>
  </form>
</li>
