$primary-color: #222222;
$light-color: #fafafa;
$light-gray: #dcdcdc;
$strong-gray: #c0c0c0;
$dark-gray: #949494;
$error-color: #ff0000;
$tomato-color: #ff6347;
$shadow: -2px 1px 23px -1px rgba(34, 34, 34, .37);
$bg-rgba: rgba(0, 0, 0, .7);

$primary-font: Helvetica, sans-serif;
