@use 'variables' as *;

:host {
  width: 78%;
}


.news-display {
  ul {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    li {
      padding-bottom: 1.2rem;

      &:not(:last-of-type) {
        border-bottom: 1px solid $primary-color;
      }
    }
  }
}