@use '../../../../styles/variables' as *;

form {
  width: 340px;
  position: relative;
  margin-left: 3rem;

  @media(max-width: 1024px) {
    margin-left: 1rem;
  }

  @media (max-width: 834px) {
    margin-top: 1rem;
    margin-left: 0;
    width: 100%;
  }

  input {
    display: block;
    width: 100%;
    padding: .75rem 2.5rem .75rem .625rem;
    border-radius: 6px;

    @media (max-width: 834px) {
      border-radius: .25rem;
      padding: 1rem 4rem 1rem .75rem;
    }
  }

  button {
    cursor: auto;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    padding: .75rem 0;
    width: 2.5rem;
    font-size: 18px;

    fa-icon {
      color: $primary-color;
    }
  }
}
