<section class="showcase">
  <div *ngIf="isLoading">
    <app-container>
      <app-loading></app-loading>
    </app-container>
  </div>

  <app-container *ngIf="!isLoading">
    <div class="showcase-wrapper">
      <div *ngIf="searchPage" class="showcase-wrapper-count">
        <h2>
          {{searchResultCount}} {{searchResultCount !== 1 ? 'notícias' : 'notícia'}} encontradas com: "{{searchValue}}"
        </h2>
      </div>

      <div *ngIf="news.length > 1" class="showcase-wrapper-order">
        <p>Ordernar por:
          <ng-container *ngFor="let item of orderOptions">
            <span
              (click)="showOrderList = !showOrderList; $event.stopPropagation()"
              *ngIf="order === item.order" >
              {{item.name}}
              <fa-icon
                [ngClass]="showOrderList ? 'active' : ''"
                [icon]="faChevronDown"
              >
              </fa-icon>
            </span>
          </ng-container>
        </p>

        <nav #navOptionsRef [ngClass]="showOrderList ? 'active' : ''">
          <ul>
            <li
              *ngFor="let item of orderOptions"
              (click)="order = item.order; getNewsService(); showOrderList = false"
              [ngClass]="order === item.order ? 'active' : ''"
            >
              {{item.name}}
            </li>
          </ul>
        </nav>
      </div>

      <div *ngIf="searchPage && searchResultCount === 0" class="showcase-wrapper-call">
        <h3>Deseja adicionar uma notícia sobre: "{{searchValue}}"?</h3>
        <a routerLink="/cadastrar-noticias">Basta clicar aqui</a>
      </div>

      <app-news-card
        class="showcase-wrapper-cards"
        [viewNews]="viewNews"
        [news]="news"
        [favorites]="favorites"
      >
      </app-news-card>

      <app-pagination
        [currentPage]="currentPage"
        [totalPages]="totalPages"
        [currentRoute] = "currentRoute"
        [searchValue] = "searchValue"
      >
      </app-pagination>
    </div>
  </app-container>
</section>
