<section class="showcase">
  <div *ngIf="isLoading">
    <app-container>
      <app-loading></app-loading>
    </app-container>
  </div>

  <app-container *ngIf="!isLoading">
    <div class="showcase-wrapper">
      <div *ngIf="searchPage" class="showcase-wrapper-count">
        <h2>
          {{searchResultCount}} {{searchResultCount !== 1 ? 'notícias' : 'notícia'}} encontradas com: "{{searchValue}}"
        </h2>
      </div>

      <app-news-order
        [news]="news"
        [order]="order"
        (orderChange)="order = $event">
      >
      </app-news-order>

      <div *ngIf="searchPage && searchResultCount === 0" class="showcase-wrapper-call">
        <h3>Deseja adicionar uma notícia sobre: "{{searchValue}}"?</h3>
        <a routerLink="/cadastrar-noticias">Basta clicar aqui</a>
      </div>

      <app-news-card
        class="showcase-wrapper-cards"
        [viewNews]="viewNews"
        [news]="news"
        [favorites]="favorites"
        (newsChange)="news = $event">
      >
      </app-news-card>

      <app-pagination
        [currentPage]="currentPage"
        [totalPages]="totalPages"
        [currentRoute] = "currentRoute"
        [searchValue] = "searchValue"
      >
      </app-pagination>
    </div>
  </app-container>
</section>
