
<section class="home">
  <div *ngIf="isLoading">
    <app-container>
      <div>Carregando notícias...</div>
    </app-container>
  </div>
  <app-container>
    <div class="home-wrapper">
      <app-news-card
        *ngIf="!isLoading"
        class="home-wrapper-showcase"
        [news]="news"
      >
      </app-news-card>

      <app-home-pagination
        [currentPage]="currentPage"
        [totalPages]="totalPages"
      >
      </app-home-pagination>
    </div>
  </app-container>
</section>
