<nav class="header-wrapper-nav" [ngClass]="mobile ? 'active' : ''">
  <ul>
    <li *ngFor="let item of navList">
      <a
        [routerLink]="item.path"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="onClick()"
      >
        {{item.title}}
      </a>
    </li>

    <app-header-nav-search [mobile]="mobile"></app-header-nav-search>
    <li class="header-wrapper-nav-social">
      <ul>
        <li>
          <fa-icon [icon]="faSquareInstagram"></fa-icon>
        </li>
        <li>
          <fa-icon [icon]="faSquareFacebook"></fa-icon>
        </li>
      </ul>
    </li>
  </ul>
</nav>
