<div class="register-news">
  <app-container>
    <div class="register-news-wrapper">
      <h2>Cadastre uma notícia</h2>
      <p>Após o cadastro, a notícia estará disponível para outras pessoas verem.</p>

      <form (ngSubmit)="onSubmit()" [formGroup]="form">
        <div class="form-input-single">
          <label for="title">Título:</label>
          <input
            type="text"
            name="title"
            id="title"
            placeholder="Defina o título da notícia"
            formControlName="title"
          >
          <span
            *ngIf="hasError('title', 'required')"
            class="error_message"
          >
            O Título deve ser preenchido.
          </span>
          <span
            *ngIf="hasError('title', 'pattern')"
            class="error_message"
          >
            O Título não pode conter apenas espaços.
          </span>
          <span
            *ngIf="hasError('title', 'minlength')"
            class="error_message"
          >
            O Título deve conter pelo menos 5 caracteres.
          </span>
        </div>

        <div class="form-input-single">
          <label for="description">Descrição:</label>
          <textarea
            type="text"
            name="description"
            id="description"
            placeholder="Defina o texto da notícia"
            formControlName="description"
          >
          </textarea>
          <span
            *ngIf="hasError('description', 'required')"
            class="error_message"
          >
            A Notícia deve ser preenchida.
          </span>
          <span
            *ngIf="hasError('description', 'pattern')"
            class="error_message"
          >
            A Notícia não pode conter apenas espaços.
          </span>
          <span
            *ngIf="hasError('description', 'minlength')"
            class="error_message"
          >
            A Notícia deve conter pelo menos 100 caracteres.
          </span>
        </div>

        <div class="form-input-single">
          <label for="category">Categoria:</label>
          <input
            type="text"
            name="category"
            id="category"
            placeholder="Digite a categoria ou escolha uma das existentes"
            formControlName="category"
          >
          <span
            *ngIf="hasError('category', 'required')"
            class="form-input-single-error"
          >
            A Categoria deve ser escolhida ou criada.
          </span>
          <span
          *ngIf="hasError('category', 'pattern')"
          class="error_message"
          >
          A Categoria não pode conter apenas espaços.
          </span>
          <span
            *ngIf="hasError('category', 'minlength')"
            class="error_message"
          >
          A Categoria deve conter pelo menos 5 caracteres.
          </span>
        </div>

        <div class="form-input-single">
          <label for="author">Autor:</label>
          <input
            type="text"
            name="author"
            id="author"
            placeholder="Defina o autor da notícia"
            formControlName="author"
          >
          <span
            *ngIf="hasError('author', 'required')"
            class="error_message"
          >
            O Autor deve ser preenchido.
          </span>
          <span
          *ngIf="hasError('author', 'pattern')"
          class="error_message"
          >
          O Autor não pode conter apenas espaços.
          </span>
          <span
            *ngIf="hasError('author', 'minlength')"
            class="error_message"
          >
          O Autor deve conter pelo menos 5 caracteres.
          </span>
        </div>

        <button type="submit">Cadastrar</button>
      </form>
    </div>
  </app-container>
</div>
