@use '../../styles/variables' as *;

.register-news {
  &-wrapper {
    background: $light-color;
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
    padding: 1.5rem 1rem;

    h2, p {
      text-align: center;
    }

    form {
      .form-input-single {
        display: flex;
        flex-direction: column;

        input, textarea {
          border: 1px solid black;
        }

        textarea {
          resize: none;
        }
      }
    }
  }
}
