@use '../../styles/variables' as *;

.register-news {
  &-wrapper {
    background: $light-color;
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
    padding: 1.5rem 1rem;

    h2, p {
      text-align: center;
    }

    p {
      margin-top: .5rem;
    }

    form {
      padding-top: 1rem;

      .form-input-single {
        display: flex;
        flex-direction: column;
        padding-bottom: .75rem;
        position: relative;

        label {
          margin-bottom: .325rem;
          font-size: .9375rem;
        }

        input, textarea {
          border: 1px solid $primary-color;
          display: block;
          padding: 0.625rem;
          width: 100%;
          border-radius: 4px;
          border: 1px solid $dark-gray;
        }

        textarea {
          resize: none;
          padding: 0.625rem;
          height: 102px;
        }

        input {
          height: 40px;
        }

        span{
          color: $error-color;
          font-size: .875rem;
          margin-top: .25rem;
        }

        div {
          position: relative;

        .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            width: 10px;
            border-radius: 4px;
            position: absolute;
            left: 100%;
            top: 50%;
            transform: translate3d(-100%, -50%, 0);
            cursor: pointer;
            background: transparent;
            color: $primary-color;
          }

          ul {
            display: flex;
            flex-direction: column;
            gap: .5rem;
            position: absolute;
            right: 0;
            margin-top: .5rem;
            border-radius: 5px;
            padding: .5rem;
            background: $light-color;
            z-index: 50;
            width: 100%;
            border: 1px solid $dark-gray;
            overflow-y: auto;
            height: 110px;
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            transition: .2s;

            &.active {
              opacity: 1;
              visibility: visible;
              pointer-events: all;
            }

            li {
              cursor: pointer;
              padding: .25rem 0;
              font-size: .875rem;
              opacity: .7;
              transition: .2s;

              &:hover {
                opacity: 1;
              }
            }
          }
        }

        #category {
          padding-right: 30px;
        }

        .desctiption-counter {
          position: absolute;
          right: 0;
          bottom: .75rem;

          @media (max-width: 480px) {
            position: static;
            margin-top: .25rem;
          }
        }
      }

      button {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        padding: .5rem 1rem;
        border-radius: 4px;
        color: $light-color;
        background: $primary-color;
        opacity: .9;
        transition: .3s;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
