@use 'variables' as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $primary-font;
}

html {
  @media (max-width: 414px) {
    font-size: 14px;
  }

  @media (max-width: 300px) {
    font-size: 13px;
  }

  body {
    min-height: calc(100vh + 2rem);
    background: $light-gray;

    input,
    textarea,
    button {
      font-size: 1rem;
      outline: none;
      border: none;
    }

    input,
    textarea {
      background: $light-color;
    }

    button {
      font-weight: bold;
      color: $primary-color;
      cursor: pointer;
    }

    ul,
    li {
      list-style: none;
    }

    a {
      text-decoration: none;
    }

    svg {
      display: block;
    }
  }
}
